<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>Home</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Raleway'
	rel='stylesheet'>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="Style/index.css">
</head>

<body>
	<div class="container-fluid banner">
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-md">
					<div class="navbar-brand ">
					<label class="navbar ico d-inline-block align-top "></label>
						<h1 class="navbar d-inline-block align-top">sportyshoes.com</h1>
					</div>
					
					<ul class="nav">
						<li class="nav-item"><a class="nav-link" href="#"><h5>Home</h1></a></li>
						<li class="nav-item"><a class="nav-link" href="#"><h5>Login</h1></a></li>
						<li class="nav-item"><a class="nav-link" href="#"><h5>Contact
								us</h1></a></li>
					</ul>
				</nav>
				</div>
				
			</div>
			<div class="col-md-6 offset-md-5 info">
				<button type="button" class="btn btn-outline-primary btn-lg">Go fo Shopping</button>
			</div>
			
		</div>
</body>
</html>